server:
   port: 8082

spring:
    datasource:
        hikari:
            connection-test-query: SELECT 1 FROM DUAL
            minimum-idle: 1
            maximum-pool-size: 5
        driver-class-name: com.mysql.jdbc.Driver
        jdbc-url: jdbc:mysql://127.0.0.1:3306/oauth2-custom?characterEncoding=UTF-8&useSSL=false
        username: root
        password: 1qaz@wsx
        initialization-mode: always
    jpa:
      hibernate:
        ddl-auto: none
        
security:
   oauth2:
      client-one:
         id: project_api_one
         clientId: client_one
         client-secret: secret
         access-token-uri: http://localhost:8080/oauth/token
         check-token-uri: http://localhost:8080/oauth/check_token
         grant-type: client_credentials
         scope: read,write
      resource:
         test-uri: http://localhost:8081/test/welcome
      authorization:    
         check-token-uri: http://localhost:8080/oauth/check_token      